{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/baguetteBox.min.css' %}"/>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/baguetteBox.min.js' %}"></script>
<script type="text/javascript">
  baguetteBox.run('.image-grid');
</script>
{% endblock %}

{% block body_class %}template-gallerypage{% endblock %}

{% block header %}
    <header>
        <h1>
            <a href="{{ self.get_parent.url }}">back</a>
        </h1>
    </header>
{% endblock %}

{% block aside %}
<h1>{{ page.title }}</h1>
<time class="meta">{{ page.date }}</time>

<div class="intro">
    {{ page.intro }}
</div>

{{ page.body|richtext }}
{% endblock %}

{% block content %}
    <div class="image-grid">
        {% for item in page.gallery_images.all %}
            <div class="image {% if item.is_portrait %}portrait{% elif item.is_landscape%}landscape{% else %}square{% endif %}">
                {% image item.image webpquality-50 as img%}
                <a href="{% image_url item.image 'original' %}" title="{{item.caption}}">
                    <img src="{% image_url item.image 'jpegquality-40' %}" alt="{{ img.alt }}" loading="lazy" decoding="async">
                </a>
            </div>
        {% endfor %}
    </div>

    {% with tags=page.tags.all %}
        {% if tags %}
            <div class="tags">
                <h3>Tags</h3>
                {% for tag in tags %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

{% endblock %}
