{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_index.css' %}">
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <!-- <h1>{{ page.title }}</h1> -->

    <div class="intro">{{ page.intro|richtext }}</div>

    <div class="blog-posts-container">
        {% for post in blogpages %}
            {% with post=post.specific %}
                <div class="blog-post-item">
                    <div class="post-header">
                        <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
                    </div>
                    <p class="post-intro">{{ post.intro }}</p>
                    <time>{{ post.date }}</time>
                </div>
            {% endwith %}
        {% endfor %}
    </div>

{% endblock %}
