*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* { margin: 0; padding: 0; box-sizing: border-box;

  /* Color scheme */

  --textcolor: #000000;
  --bgcolor: #ffffff;
  --highlight: #000000;
  --text-disabled: #4D4D4D;

}

@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #FFFFFF;
    --bgcolor: #000000;
    --highlight: #FFFFFF;
  }
}

a {
  text-decoration: none;
  color: var(--highlight);
  -webkit-font-smoothing: antialiased;
}

.skip-link {
  position: absolute;
  top: -30px;
}

.skip-link:focus-visible {
  top: 5px;
}

img, svg, video, audio {
  display: block;
  max-width: 100%;
  height: auto;
  fill: currentColor;
}


body {
  font-size: 18px;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--textcolor);
  background: var(--bgcolor);
  display: flex;
  height: 100%;
  padding: 30px;
}

/* ######################### SIDEBAR ####################### */

.sidebar {
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  float: left;
  position: fixed;
  z-index: 1;
  width: 400px;
  height: 100vh;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.sidebar header h1 {
  padding-bottom: 10px;
}

header {
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

header h1 {
  font-size: 20px;
  font-weight: 400;
}

header nav a:not(:last-of-type) {
  margin-right: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

aside {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 60px;
  padding-right: 15px;
}

aside h1 {
  font-size: 20px;
  font-weight: 400;
}


/* ######################### SIDEBAR ####################### */

main {
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: auto;
  width: calc(100vw - 450px);
}

footer {
  border-top: 2px;
  text-align: center;
}

@media only screen and (max-width: 768px) {

  body {
    display: block;
  }
  .sidebar {
    position: relative;
    padding: 0;
    height: auto;
    width: auto;
  }

  aside {
    position: relative;
  }
  main {
    width: 100%;
  }

  header {
    padding-bottom: 30px;
  }
}
