h2 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

time {
    margin-left: 0.6em;
    font-size: .8em;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-gap: 2.5vmin;
    grid-template-columns: repeat(auto-fill, minmax(300px, 5fr));
    grid-auto-flow: dense;
  }

  .grid a {
    position: relative;
    border: 0;
  }

  .grid p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 1em;
    color: var(--textcolor);
  }
