.intro {
    padding: 1em 0 1em 0;
}

time {
    margin-left: 0.6em;
    font-size: .8em;
    font-weight: 400;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding: 20px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portrait {
  flex: 0 0 calc(50% - 5px); /* Deux colonnes pour les images en mode portrait */
}

.landscape {
  flex: 0 0 calc(100% - 10px); /* Une colonne pour les images en mode paysage */
}
